<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>
                My Cart ({{ myCartList?.length }}
                {{ myCartList?.length > 1 ? "Products" : "Product" }})
            </h5>

            <ng-container *ngIf="myCartList?.length">
                <div class="flex flex-column">
                    <div
                        class="flex flex-row justify-content-between"
                        *ngFor="let item of myCartList"
                    >
                        <div class="flex flex-row">
                            <img
                                class="img-fluid"
                                [src]="item?.image"
                                [alt]="item?.name"
                            />
                            <div class="flex flex-column">
                                <span>{{ item?.name }}</span>
                                <span>{{ item?.price | currency }}</span>
                            </div>
                        </div>
                        <div class="flex flex-row">
                            <button
                                class="btn btn-sm btn-outline-danger"
                                (click)="removeFromCart(item)"
                            >
                                <i class="pi pi-trash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-row justify-content-between">
                        <div class="flex flex-row">
                            <span>Total</span>
                        </div>
                        <div class="flex flex-row">
                            <span>{{ 12 | currency }}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
