<div class="grid">
    <div class="col-12">
        <div class="card">
            <breadcrumb currentPageName="My Cart"></breadcrumb>
            <h5>
                My Cart ({{ myCartList?.length }}
                {{ myCartList?.length > 1 ? "Products" : "Product" }})
            </h5>

            <ng-container *ngIf="myCartList?.length">
                <div class="grid gap-1">
                    <div
                        class="col-12 xl:col-8 flex-order-1 xl:flex-order-0 h-screen overflow-x-auto"
                    >
                        <ng-container *ngFor="let product of myCartList">
                            <product-item [product]="product"></product-item>
                        </ng-container>
                    </div>

                    <div class="col-12 xl:col-3 flex-order-0 xl:flex-order-1">
                        <order-summary [products]="myCartList"></order-summary>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
