<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/products">
        <img
            src="assets/layout/images/{{
                layoutService.config.colorScheme === 'light'
                    ? 'logo-dark'
                    : 'logo-white'
            }}.svg"
            alt="logo"
        />
        <span>Mini Market</span>
    </a>

    <!-- <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button> -->

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <button
            class="p-link layout-topbar-button"
            [routerLink]="userData ? '/products' : '/auth/login'"
        >
            <i class="pi pi-user"></i>
            <span>{{ userData ? userData.name : "Login" }}</span>
        </button>

        <a class="p-link layout-topbar-button" (click)="showCart = !showCart">
            <i
                class="pi pi-shopping-cart text-2xl"
                pBadge
                [value]="basketCount"
            ></i>
            <span>My Cart</span>
        </a>
    </div>
</div>

<p-sidebar
    [(visible)]="showCart"
    position="right"
    [baseZIndex]="10000"
    styleClass="w-30rem"
>
    <ng-template pTemplate="header"><h3>My Cart</h3></ng-template>
    <ng-template pTemplate="content">
        <summary-cart></summary-cart
    ></ng-template>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-center">
            <p-button
                label="Go to Cart"
                routerLink="/cart"
                routerLinkActive="router-link-active"
                icon="pi pi-check"
                (click)="showCart = false"
                [disabled]="!userData"
            ></p-button>
        </div>
    </ng-template>
</p-sidebar>
