<div class="border-1 border-blue-500 border-round-md p-4">
    <h5>Order Summary</h5>
    <div class="flex justify-content-between">
        <span>Total of Product</span>
        <span class="font-bold text text-primary"
            >$ {{ products | totalPrice }}</span
        >
    </div>
    <div class="flex justify-content-between">
        <span>Shipping Total</span>
        <span class="font-bold text-primary">$ 0</span>
    </div>
    <hr class="w-full" />
    <div class="flex justify-content-between">
        <span></span>
        <span class="font-bold text-primary">
            $ {{ products | totalPrice }}</span
        >
    </div>
</div>
