<ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
    <li>
        <a
            class="text-500 no-underline line-height-3 cursor-pointer"
            routerLink="/products"
            routerLinkActive="router-link-active"
            >Best Selling Products</a
        >
    </li>
    <li class="px-2">
        <i class="pi pi-angle-right text-500 line-height-3"></i>
    </li>
    <li>
        <span class="text-900 line-height-3">{{ currentPageName }}</span>
    </li>
</ul>
